a{
	color: #ff4102;
}
body{
	background: #eee;
	font-family: "Open Sans";
	font-size: 16px;
}
footer{
	background: #F0C4B5;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
header{
	background: #F0C4B5;
	color: white;
	overflow: hidden;
	padding: 1em;
	position: relative;
}
header figure{
	float: left;
}
header h1{
	font-size: 4em;
	font-weight: normal;
	margin: 0 70px 0 0;
	text-align: center;
}
header #logo{
	border-right: 1px solid white;
	margin-right: 0.5em; 
}
header #logo img{
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 130px;
}
nav{
	position: relative;<-- necesario para el menu 1-->
	text-align: center;
}
nav ul{
	list-style: none;<-- necesario para el menu 2-->
}
nav ul li{
	display: inline-block;<-- necesario para el menu 3-->
}